# Archivos y carpetas de entorno
.env
.envrc
.direnv/

# Dependencias
node_modules
.pnpm-debug.log*

# Archivos y carpetas específicas de herramientas
.svelte-kit
coverage
build

# Archivos de configuración y cachés innecesarios
.DS_Store
*.pem
npm-debug.log*
vite.svg

# Archivos de control de versiones
.git
.gitignore

# Archivos de lock o gestores no usados
.pnp
.pnp.*
.yarn/*
.yarnrc*
.next
o
