<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miguemi{% endblock %}</title>
    {{ vite_entry_link_tags('main') }}
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans leading-relaxed antialiased">
    {% block body %}{% endblock %}
    {{ vite_entry_script_tags('main') }}
  </body>
</html>
